body {
    background-color: #f5f3ee8b;
}
.post-style {
    border: 1px solid #e0e0e0; 
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(0,0,0,0.16);
    margin-bottom: 15px; 
    padding: 7px 15px 12px 12px;
    background-color: white;
    display: flex; 
    flex-direction: column; 
    cursor: pointer;
}
.flex-center{
    display: flex; 
    align-items: center;
}
.flex-wrap{
    display: flex; 
    flex-wrap: wrap;
}
.grey{ 
    color: grey;
}
.spacing{ 
    margin-left: 20px; 
    margin-top: 8px;
}
.count{
    margin-left: 10px; 
    margin-top: 0; 
    margin-bottom: 0;
}
.edit{ 
    margin-left: auto; 
}
.list:hover{
    background-color: rgba(0,0,0,0.01);
}
h2:hover{
    text-decoration-line: underline;
}
h2{
    font-size: 18px;
    font-weight: 600;
}
a {
    color: inherit;
    text-decoration: none;
}
.container {
    display: flex;
    margin-top: auto; 
    align-items: center; 
    padding-left: 0px; 
    padding-right: 0px;
}
.group {
    display: flex;
}
.group .grey button {
    color: inherit; 
}
.group .grey button svg {
    fill: currentColor;
}
.group-red:hover .grey {
    color: rgb(255, 0, 115);
}
.group-blue:hover .grey {
    color: rgb(0, 115, 255);
}
.group-blue{
    margin-left: 30px;
}
.nav li {
    margin-top: 1rem;
    margin-bottom: 30px;
    font-size: large;
}
.nav li:hover{
    background-color: rgba(0,0,0,0.04);
    border-radius: 30px;
}
.bi{
    margin-left: 10px;
}
.post-image {
    min-width: 150px;
    max-width: 450px;
    height: auto;
    max-height: 400px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: block;
    object-fit: contain;
}
.create-post {
    display: flex; 
    align-items: flex-start; 
    flex-direction: row;
    gap: 10px;
    padding-top: 10px;
    cursor: default;
}

.post-content {
    word-break: break-word;
    font-size: 16px;
    white-space: pre-wrap;
}
.search_input {
    border-radius: 40px;
    border: 2px solid #e0e0e0; 
    background-color: white;  
    padding: 8px 16px;              
    outline: none;  
    max-width: 600px;                
}
.search_input:focus {
    border-color: #007bff;  
}
.post-btn{
    background: #0095ff;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    margin-left: 10px;
    padding: 5px 15px;
}
.upload-btn {
    display: inline-block;
    width: auto;
    padding: 6px 10px;
    background: #d5d5d5;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    white-space: nowrap;
}
.upload-btn input {
    display: none;
}
.edit-btn{
    background: #d0d0d0;
    border-radius: 8px;
}
.category-btn {
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    text-align: left;
}
.category-btn:hover {
    box-shadow: 0px 5px 1px rgba(0,0,0,0.16);
}
.categories-container {
    display: flex;
    justify-content: center;
    gap: 10px;             
    margin: 0 auto;        
    justify-items: center;
    flex-wrap: wrap;                         
}
.active-category {
    box-shadow: 0px 5px 1px rgba(0,0,0,0.16);
}
.category-news { background-color: #007bff; opacity: 0.9; color: white; }
.category-tech { background-color: #6f42c1; opacity: 0.9; color: white; }
.category-entertainment { background-color: #e83e8c; opacity: 0.9; color: white; }
.category-health { background-color: #28a745; opacity: 0.9; color: white; }
.category-nature { background-color: #20c997; opacity: 0.9; color: white; }
.category-sports { background-color: #fd7e14; opacity: 0.9; color: white; }
.category-education { background-color: #17a2b8; opacity: 0.9; color: white; }
.category-humor { background-color: #ffc107; opacity: 0.9; color: black; }
.body-content{
    margin-left: 48px;
}
.post-detail {
    cursor: default;
}
.profile-bio{
    word-break: break-word;
    white-space: pre-wrap;
}
.profile-tab {
    object-fit: cover;
}
.tab{
    font-size: 20px;
    margin-left: 10px;
}
textarea{
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    margin-bottom: 8px;
}
textarea[name="post-content"] {
    border-color: white;
    border-radius: 8px;
    font-size: 20px;
    outline: none;
    margin-bottom: 0px;
}
.file-name {
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 30px;
    display: inline-block;
    vertical-align: middle;
}
.file-name > img{
    aspect-ratio: 1 / 1; 
    height: 35px; 
    object-fit: cover; 
    border-radius: 4px; 
    vertical-align: middle;
}
.subtle{
    margin: .5rem 0; 
    opacity: .125;
}
.auth > * {
    margin-top: 10px;
}
@media (min-width: 1000px) {
    .p-3{
        width: 280px;
    }
    .main-content {
        margin-left: 280px;
    }
}
@media (max-width: 999px) {
    .nav-text{
        display: none;
    }
    .auth{
        font-size: 12px;
    }
    .tab{
        margin-left: 0px;
    }
    .p-3 {
        width: 70px;
        padding: 1rem .5rem !important;
    }
    .main-content {
        margin-left: 70px;
    }
    .bi{
        margin-left: 0px;
    }
    .nav{
        --bs-nav-link-padding-x: .5rem;
    }
    .profile-tab{
        margin-right: 0rem!important;
        object-fit: cover;  
    }
}
@media (max-width: 599px) {
    .post-image {
        min-width: 100px;
        max-width: 220px;
        height: auto;
        max-height: 300px;
        border-radius: 10px;
        margin-bottom: 10px;
        display: block;
        object-fit: contain;
    }
    .p-4{
        padding: 1.5rem 1rem!important;
    }
}
